.container {
  padding: 10px 20px;
  background-color: #ece7f1;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.repairs {
  width: 400px;
  height: 300px;
  background-color: #ece7f1;
  border-radius: 15px;
}

.noRepairs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #ece7f1;
  border-radius: 15px;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.15);
}

.noRepairsText {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  cursor: default;
}

.repairContainer {
  max-width: 300px;
  min-width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.repairContainer * {
  margin: 8px 0;
}
